<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.core.contenttype.contentTypes">
   		<content-type base-type="org.eclipse.core.runtime.xml"
			file-extensions="gradle"
            id="org.gradle.eclipse.contenttype.buildfile"
            name="Gradle build file"
            priority="normal">
      			<describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber">
         				<parameter name="element" value="apples"/>
				</describer>
   		</content-type>
	</extension>
	<extension point="org.eclipse.debug.ui.consoleColorProviders">
      <consoleColorProvider
            class="org.gradle.eclipse.ui.console.GradleConsoleColorProvider"
            processType="org.gradle.eclipse.gradleProcess"
            id="com.breskeby.eclipse.gradle.ui.consoleColorProvider">
      </consoleColorProvider>
   </extension>
   <extension point="org.eclipse.ui.console.consolePatternMatchListeners">
           <consolePatternMatchListener
            class="org.gradle.eclipse.ui.console.GradleJavacPatternMatcher"
            id="org.gradle.eclipse.ui.console.GradleJavacPatternMatcher"
            qualifier="javac"
            regex="\[ant:javac*\] File to be compiled:\s.*(\.java:.*:.*|.*\.java)">
         <enablement>
            <test property="org.eclipse.debug.ui.processTypeTest" value="org.gradle.eclipse.gradleProcess"/>
         </enablement>
      </consolePatternMatchListener>
   </extension>
   <extension point="org.eclipse.core.runtime.preferences">
		<initializer class="org.gradle.eclipse.preferences.GradlePreferenceInitializer"/>
	</extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="%PreferencePage.gradlePreferences"
            class="org.gradle.eclipse.preferences.GradleRuntimePreferencePage"
            id="org.gradle.eclipse.preferences.GradleRuntimePreferencePage">
      </page>
   </extension>

   <extension
         id="gradleNature"
         name="Gradle Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="org.gradle.eclipse.GradleNature"/>
      </runtime>
      <requires-nature id="org.eclipse.jdt.core.javanature"/>
      <content-type
            id="org.gradle.eclipse.contenttype.buildfile">
   	</content-type>
   </extension>
    
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType
            category="org.eclipse.ui.externaltools"
            delegate="org.gradle.eclipse.launchConfigurations.GradleLaunchDelegate"
            delegateDescription="%GradleLaunchDelegate.description"
            delegateName="%GradleLaunchDelegate.name"
            id="org.gradle.eclipse.GradleLaunchConfigurationType"
            migrationDelegate="org.gradle.eclipse.launchConfigurations.GradleMigrationDelegate"
            modes="run, debug"
            name="%GradleBuild"
            sourceLocatorId="org.eclipse.ant.ui.debug.sourceLookupDirector"
            sourcePathComputerId="org.eclipse.ant.ui.debug.sourcePathComputer">
      </launchConfigurationType>
   </extension>
   <extension
         point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup
            type="org.gradle.eclipse.GradleLaunchConfigurationType"
            helpContextId="org.eclipse.ui.externaltools.launchConfigHelpContext.ant"
            description="%gradleLaunchConfigurationTabGroup.description"
            class="org.gradle.eclipse.launchConfigurations.GradleTabGroup"
            id="org.gradle.eclipse.launchConfigurationTabGroup.gradle">
      </launchConfigurationTabGroup>
   </extension>
   
   <extension
         point="org.eclipse.debug.ui.launchShortcuts">
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="org.gradle.eclipse.launchConfigurations.GradleLaunchShortcut"
            description="%GradleBuildShortcut.description"
            icon="icons/gradleicon.gif"
            id="org.gradle.eclipse.ui.gradleShortcut"
            label="%GradleLaunchShortcut.label"
            modes="run">
        <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate operator="and">
                   <test property="org.eclipse.debug.ui.matchesContentType"
                         value="org.gradle.eclipse.contenttype.buildfile"/>
               </iterate>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="%GradleLaunchShortcut.label"/>
  		 </contextualLaunch>
        <configurationType
              id="org.gradle.eclipse.GradleLaunchConfigurationType">
        </configurationType>
      </shortcut>
      <shortcut
            category="org.eclipse.ui.externaltools"
            class="org.gradle.eclipse.launchConfigurations.GradleLaunchShortcutWithDialog"
            description="%GradleBuild...Shortcut.description"
            icon="icons/gradleicon.gif"
            id="org.gradle.eclipse.ui.gradleShortcutWithDialog"
            label="%GradleLaunchShortcutWithDialog.label"
            modes="run">
        <contextualLaunch>
        	<enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
                 <or>
                   <test property="org.eclipse.debug.ui.matchesContentType" value="org.gradle.eclipse.contenttype.buildfile"/>
                 </or>
               </iterate>
             </with>
           </enablement>
           <contextLabel
         	  mode="run"
         	  label="%GradleLaunchShortcutWithDialog.label"/>
  		 </contextualLaunch>
        <configurationType
              id="org.gradle.eclipse.GradleLaunchConfigurationType">
        </configurationType>
      </shortcut>
   </extension>
   
    <extension point="org.eclipse.ui.popupMenus">
    	<!-- Restrict selection to be a project with a Gradle nature.--> 
   		<objectContribution id="org.gradle.eclipse.gradlemenu"
   			adaptable="true"
   			objectClass="org.eclipse.core.resources.IProject">
	        <menu
	              id="gradle"
	              label="Gradle"
	              path="additions">
	           <separator name="defaultGroup"/>
        	</menu>
        <visibility>
           <objectState name="nature" value="org.gradle.eclipse.gradleNature"/>
        </visibility>
		</objectContribution>

    	
	<!-- In "Configure" sub-menu -->
    <objectContribution
           adaptable="true"
           id="org.gradle.eclipse.nonGradleContributions"
           objectClass="org.eclipse.core.resources.IProject">
        <action
              class="org.gradle.eclipse.actions.AddGradleNatureAction"
              enablesFor="1"
              id="org.gradle.eclipse.addnature.action"
              label="Convert to Gradle Project"
              menubarPath="org.eclipse.ui.projectConfigure/additions">
        </action>
        <visibility>
         	<and>
	         	<objectState name="nature" value="org.eclipse.jdt.core.javanature"/>
	         	<not>
		         	<objectState name="nature" value="org.gradle.eclipse.gradleNature"/>
		        </not>
		        <objectState name="open" value="true"/>
		      </and>
        </visibility>
     </objectContribution>
     <objectContribution id="org.gradle.eclipse.gradleContributions"
   			adaptable="true"
   			objectClass="org.eclipse.core.resources.IProject">
			   <action
			         class="org.gradle.eclipse.actions.RemoveGradleNatureAction"
			         enablesFor="1"
			         id="org.gradle.eclipse.removenature.action"
			         label="Remove Gradle nature"
			         menubarPath="gradle/nature">
			   </action>
			   <action
			         class="org.gradle.eclipse.actions.UpdateClasspathAction"
			         enablesFor="1"
			         id="org.gradle.eclipse.updateclasspath.action"
			         label="Update Classpath"
			         menubarPath="gradle/classpath">
			   </action>
			   <visibility>
			      <objectState name="nature" value="org.gradle.eclipse.gradleNature"/>
			   </visibility>
		</objectContribution>
   </extension>
   <extension point="org.eclipse.jdt.core.classpathVariableInitializer">
    <classpathVariableInitializer 
      variable="GRADLE_HOME"
      class="org.gradle.eclipse.cache.GradleCacheDirectoryInitializer"/>
  </extension>
  <extension point="org.eclipse.ui.propertyPages">
      <page id="org.gradle.eclipse.preferences.GradleProjectPreferencePage"
            class="org.gradle.eclipse.preferences.GradleRuntimePreferencePage"
            name="Gradle"
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true">
         <filter name="nature" value="org.gradle.eclipse.gradleNature"/>
      </page>
   </extension>
   
   
   <!--
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.gradle.eclipse.editors.BasicGradleEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            extensions="gradle"
            icon="icons/gradle_file.gif"
            default="true"
            id="org.gradle.eclipse.editors.BasicGradleEditor"
            name="Gradle Editor">
            <contentTypeBinding
               contentTypeId="org.codehaus.gradle.eclipse.groovySource">
         </contentTypeBinding>
      </editor>
   </extension>-->
   
</plugin>
